<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick my phone</title>
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <div class="title-bar">
        <h1 class="title">Pick My phone</h1>
    </div>

    <div class="main-chats">

        <% if (locals.chats) { %>
            <% chats.forEach(chat => { %>
                <% if (chat.isUser) { %>
                    <div class="chat-container user-chat">
                        <div class="chat">
                            <p><%= chat.text %></p>
                        </div>
                    </div>
                <% } else { %>
                    <div class="chat-container model-chat">
                        <div class="chat">
                            <p><%= chat.text %></p>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        <% } else { %>
            <div class="title-div">
                <h1 class="title">Welcome to Pick my phone!</h1>
                <h3 class="subtitle">Ask me anything about phones!</h3>
            </div>
        <% } %>
    </div>

    <div class="message-box">
        <form id="message-form" action="/submit" method="POST">
            <input id="message-feild" type="text" name="message" >
            <button id="message-submit-btn" type="submit" ></button>
        </form>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>